body {
    background-color: rgb(104, 104, 104);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: white;
}

h1 {
    display: block;
    margin-top:0px;
    display: inline-block;
}

header {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

#newTitleEdit  {
    display: inline-block;
    width: 22px;
}
#newTitleSave {
  display: none;
  width: 22px;
}

button {
    position: relative;
    top: -6px;
    color: rgb(255, 255, 255);
    border-radius: 4px;
    padding: 5px 5px;
    font-weight: bold;
}

#funcBtn {
    width: 18px;
    height: 18px;
    padding: 0 4px;
}

input.save {
    display:none;
}

input[type="checkbox"]{
    width: 15px; /*Desired width*/
    height: 15px; /*Desired height*/
  }

button.newItem  {
    background-color:  rgb(116, 153, 113);
    border: none;
    width: 150px;
    font-size: 20px;
    text-align: center;
    cursor: pointer;
}

button.newItem:hover {
    background-color: rgb(133, 173, 130);
}

button.orderList {
    display: inline-block;
    background-color: rgb(165, 154, 104);
    text-align: center;
    cursor: pointer;
    border: none;
    width: 50px;
    top: -12px;
}

button.orderList:hover {
    background-color: rgb(196, 187, 147);
}

.listBox {
    margin: auto;
    padding: 50px;
    padding-bottom: 40px;
    max-width: 70%;
}

#valInput {
    text-align: center;
}

input {
    padding: 4px;
}

.newValue {
    width: 250px;
    height: 30px;
    font-size: 24px;
}

ul {
    list-style: decimal;
    font-size: 18px;
    padding: 0px;
}

li {
    list-style: none;
    padding-left:0;
    text-align: center;
    font-size: 24px;
}

li:nth-child(even){
    background-color: rgb(88, 88, 88);
}

li.ticked {
    background-color: rgb(165, 165, 165);
    text-decoration: line-through;
}

#toggleBtnOn {
  position:relative;
  margin-left: auto;
  margin-right: auto;
  height: 60px;
  width: 60px;
  display:none;
  cursor: pointer;
}

#toggleBtnOff {
  position:relative;
  margin-left: auto;
  margin-right: auto;
  height: 60px;
  width: 60px;
  display:block;
  cursor: pointer;
}

/* Media Query ------ Tablet & Mobile View ------ */

@media screen and (max-width: 900px) {
    header {
        margin-left:0;
    }

    ul {
    list-style-type: none;
     }

    li {
    padding: 7px 0;  ;
    }

    .listBox {
      margin:0;
      padding: 0;
      border: 0;
      width: 100%;
      box-shadow: none;
      max-width:none;
     }

}
